 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/216.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 619px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 451px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-bottom: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 353px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.11765rem;
    margin-top: -1px;
    margin-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.23529rem;
    width: 189px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.647059rem;
    margin-top: 0;
    margin-bottom: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 530px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/Node.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 3px;
}

.u-section-2 .u-text-1 {
  font-size: 1.88235rem;
  margin: 0 27px;
}

.u-section-2 .u-text-2 {
  margin: 20px 27px 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-image-2 {
  width: 156px;
  height: 129px;
  margin: 27px auto 0 27px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-2 .u-image-1 {
    min-height: 285px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 56px;
  }

  .u-section-2 .u-image-1 {
    min-height: 179px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 620px;
}

.u-section-3 .u-gallery-1 {
  width: 841px;
  height: 585px;
  grid-gap: 10px 10px;
  margin: 1px auto 35px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-3 .u-gallery-1 {
    height: 361px;
    width: 371px;
    margin: 11px -15px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 11px;
    top: 120px;
    right: auto;
  }

  .u-section-3 .u-carousel-control-2 {
    left: auto;
    top: 120px;
    right: 11px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 519px;
}

.u-section-4 .u-text-1 {
  text-decoration: underline !important;
  margin: 15px auto 0 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 20px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 432px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/Dawei.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/Elfe.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-4 .u-list-1 {
    width: 295px;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 216px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0 0 14px;
  }

  .u-section-4 .u-image-1 {
    width: 130px;
    height: 130px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.647059rem;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 0 14px;
  }

  .u-section-4 .u-image-2 {
    width: 130px;
    height: 130px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.647059rem;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 520px;
}

.u-section-5 .u-text-1 {
  text-align: start;
  text-decoration: underline !important;
  margin: 18px auto 0 0;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 17px auto 1px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 432px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/PC.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/Nancy.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-5 .u-image-2 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 194px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    width: 131px;
    height: 131px;
    margin-top: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    width: 131px;
    height: 131px;
    margin-top: 10px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 4px;
  }

  .u-section-5 .u-btn-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 4px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1410px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 1211px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-3 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-8 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-4 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-9 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-10 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-5 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-11 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-12 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-6 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-13 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-14 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-7 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-15 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-16 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-8 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-17 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-18 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-9 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-9 {
  height: 96px;
  width: 96px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-19 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-20 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-10 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-10 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-21 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-22 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-11 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-11 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-23 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-24 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-12 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-12 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-25 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-26 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-13 {
  padding: 30px 30px 0;
}

.u-section-6 .u-icon-13 {
  height: 96px;
  width: 96px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-6 .u-text-27 {
  font-size: 1.875rem;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-28 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-13 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 999px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2678px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 6px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.647059rem;
  }

  .u-section-6 .u-list-1 {
    margin-top: 10px;
    margin-bottom: 6px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 601px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-1 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-2 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-3 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-7 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-8 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-4 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-10 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-5 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-11 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-12 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-6 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-13 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-14 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-7 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-15 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-16 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-8 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-8 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-17 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-18 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-9 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-9 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-19 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-20 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-10 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-10 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-21 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-22 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-11 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-11 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-23 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-24 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-12 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-12 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-25 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-26 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-13 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-13 {
    height: 57px;
    width: 57px;
  }

  .u-section-6 .u-text-27 {
    font-size: 0.647059rem;
    width: 58px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-28 {
    font-size: 0.647059rem;
    width: auto;
    margin-top: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 600px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-7 .u-shape-1 {
  height: 421px;
  width: 472px;
  margin: 59px 0 0 auto;
}

.u-section-7 .u-image-1 {
  width: 457px;
  height: 423px;
  margin: -479px auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 510px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 8px;
}

.u-section-7 .u-text-1 {
  margin: 0 auto 0 22px;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0 22px;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 22px;
  padding: 10px 32px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-7 .u-shape-1 {
    height: 332px;
    width: 369px;
  }

  .u-section-7 .u-image-1 {
    width: 364px;
    height: 336px;
    margin-top: -390px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-7 .u-shape-1 {
    height: 243px;
    width: 276px;
  }

  .u-section-7 .u-image-1 {
    width: 276px;
    height: 255px;
    margin-top: -301px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 399px;
  }

  .u-section-7 .u-shape-1 {
    height: 310px;
    width: 332px;
    margin-right: 70px;
  }

  .u-section-7 .u-image-1 {
    width: 341px;
    height: 310px;
    margin-top: -368px;
    margin-left: 70px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 132px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-7 .u-shape-1 {
    height: 253px;
    width: 300px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 281px;
    height: 259px;
    margin-top: -285px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.764706rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 180px;
}

.u-section-8 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 300px;
  min-width: 124px;
  white-space: nowrap;
  margin: 60px auto;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}